@use "../../../../main-style/style.scss";
.product-container{
    background-color: rgba(192, 192, 192, 0.178); border-radius: 10px; font-weight: bold;
    .Image-container{
        width: 100%;
        img {
            display: block; margin-left: auto; margin-right: auto;
            width: 45px; height: 45px; border-radius: 5px;
        }
    }

    .catagory-container{
        width: 80%; margin-left: auto; margin-right: auto;
        padding: 3px 25px; font-weight: bold; color: white; background-color: blueviolet;
        border-radius: 10px; text-align: center;
    }
    .delete-Product,.Update-Product{
        width: 100%;
        button {
            background-color: red; padding: 5px 25px; margin-left: auto; margin-right: auto;
            display: block; border: none; border-radius: 5px;color: white; cursor: pointer;
            font-weight: bold;
            span {
                &:last-child{
                    margin-left: 2px; font-weight: bold; color: white;
                }
            }
        }
    }
    .Update-Product{
        button{
            background-color: blue;
        }
    }
}


.container-product-main{
    padding: 70px 50px; 
    .create-product-header{
        padding: 10px 0px;
        display: flex; justify-content: space-between;
        background-color: style.$main-color; color: white;
        li{
            &:first-child{
                font-weight: bold; text-transform: capitalize;
                font-size: .9em;
            }
            &:last-child{
                width: 250px; height: 30px; margin-right: 20px;
                display: flex; align-items: center; background-color: white;
                border-radius: 5px; overflow: hidden;
                span{
                    font-size: 1.5em;margin-right: 3px; padding: 5px;
                    display: flex; align-items: center; justify-content: center;
                    color: style.$main-color;
                }
                input{
                    height: 100%; width: 100%; border: 1px  solid rgba(192, 192, 192, 0);
                    text-transform: capitalize; font-weight: bold; color: style.$main-color;
                }
            }
        }
    }
}